.grid-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    padding: 0 8px;
}

.cell {
    padding: 10px;
    outline: 1px solid grey;
    margin: 3px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}



.correct {
    background-color: hsl(150deg 70% 30%);;
}

.correct-but-incorrect-order {
    background-color: hsl(50deg 100% 30%);
}

.incorrect {
    background-color: hsl(0deg 70% 45%);;
}

.initial {
    background-color: white;
}